{% extends "base.html" %}

{% block title %}
Fetching Abstract...
{% endblock %}

{% block content %}
    <h2>Please Wait...</h2>
    <p>The abstract you requested is being fetched.</p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var attempts = 0;
            var maxAttempts = 6;  // Adjust based on how many times you want to check (e.g., 6 times at 5-second intervals = 30 seconds)

            function checkPMIDStatus() {
                $.ajax({
                    url: '{% url "check-pmid-status" %}',
                    data: {'pmid': '{{ pmid }}'},
                    success: function(data) {
                        if (data.status === 'found') {
                            window.location.href = '{% url "study-detail-page" %}?slug=' + '{{ pmid }}';
                        } else if (data.status === 'not found') {
                            attempts++;
                            if (attempts >= maxAttempts) {
                                // Redirect to the custom 404 page after a certain number of attempts
                                window.location.href = '{% url "404" %}';
                            }
                        }
                    }
                });
            }

            // Wait for 15 seconds before starting to poll
            setTimeout(function() {
                setInterval(checkPMIDStatus, 5000);  // Check every 5 seconds
            }, 15000);
        });
    </script>
{% endblock %}
