{% extends "base.html" %}
{% load static %}

{% block title %}
Abstract Classifier
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "study/study.css" %}" />
<link rel="stylesheet" href="{% static "study/index.css" %}" />
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static "study/images/logo.png" %}" alt="Abstract Classifier Logo" />
            <h2>Welcome to the Abstract Classifier</h2>
        </header>
        <p>The objective of this site is to take PubMed abstracts and format them into a digestible format.</p>
    </section>

    <section id="latest-studies">
        <h2>Latest Studies</h2>
        <ul>
            {% for  study in studies %}
                {% include "study/includes/study.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>About</h2>
        <p>
            This web application utilizes the Entrez Direct API which is associated with PubMed to fetch Abstracts. Each day, the application will fetch the latest RCT and Meta-analysis studies and process them through a Natural language processing algorithm (NLP) to classify each sentence in the abstract to a respective category. Abstracts which do not exist in the database can be fetched using the search bar. 
        </p>
        <p><b>Please note:</b> Abstracts that are not in the database will take some time to be fetched and processed. Please be patient.</p>
    </section>

{% endblock %}
