body {
    background-color: #e7e7e7;
  }
  
  #main-navigation {
    background-color: #112e51;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  #doc {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
  }